.html, body {
  position: absolute;
  left: 3%;
  right: 4%;
  font-family: "Verdana";
}

.header {
  border-bottom: 3px solid black;
}
.header .title {
  font-size: 50px;
  margin: 5px;
  padding: 2px;
}
.header button {
  font-size: 20px;
  position: fixed;
  right: 95px;
  top: 30px;
  background-color: white;
  border: 2px solid black;
  color: black;
  text-decoration: none;
  cursor: pointer;
  padding: 10px 50px 10px 50px;
}

.length-form, .width-form, .height-form, .weight-form, .size-form, .product-attribute-form, .type-form, .price-form, .name-form, .sku-form {
  margin-bottom: 40px;
}
.length-form input[type=text], .width-form input[type=text], .height-form input[type=text], .weight-form input[type=text], .size-form input[type=text], .product-attribute-form input[type=text], .type-form input[type=text], .price-form input[type=text], .name-form input[type=text], .sku-form input[type=text], .length-form select, .width-form select, .height-form select, .weight-form select, .size-form select, .product-attribute-form select, .type-form select, .price-form select, .name-form select, .sku-form select {
  padding: 10px;
  width: 200px;
  border: 2px solid black;
  box-sizing: border-box;
}
.length-form label, .width-form label, .height-form label, .weight-form label, .size-form label, .product-attribute-form label, .type-form label, .price-form label, .name-form label, .sku-form label {
  font-size: 30px;
  display: inline-block;
  width: 130px;
  box-sizing: border-box;
}
.length-form p, .width-form p, .height-form p, .weight-form p, .size-form p, .product-attribute-form p, .type-form p, .price-form p, .name-form p, .sku-form p {
  margin-top: 10px;
}

/*# sourceMappingURL=addItem.css.map */
