.html, body
    position: absolute
    left: 3%
    right: 4%
    font-family: "Verdana"
    
.header
    border-bottom: 3px solid black
    
    .title
        font-size: 50px
        margin: 5px
        padding: 2px     
    button
        font-size: 20px
        position: fixed
        right: 95px
        top: 30px
        background-color: white
        border: 2px solid black
        color: black
        text-decoration: none
        cursor: pointer
        padding: 10px 50px 10px 50px   

%product-form-generic
    margin-bottom: 40px
    input[type="text"], select
        padding: 10px
        width: 200px
        border: 2px solid black
        box-sizing: border-box

    label
        font-size: 30px
        display: inline-block
        width: 130px
        box-sizing: border-box
    p
        margin-top: 10px

.sku-form
    @extend %product-form-generic

.name-form
    @extend %product-form-generic

.price-form
    @extend %product-form-generic

.type-form
    @extend %product-form-generic

.product-attribute-form
    @extend %product-form-generic

.size-form
    @extend %product-form-generic

.weight-form
    @extend %product-form-generic

.height-form
    @extend %product-form-generic

.width-form
    @extend %product-form-generic

.length-form
    @extend %product-form-generic