.html, body
    height: 95vh
    max-width: 95vw
    margin: auto
    margin-top: 2vh
    font-family: "Verdana"

.header
    border-bottom: 3px solid black
    
    .title
        font-size: 50px
        margin: 5px
        padding: 2px
.product_list
    margin-top: 20px
    width: 100%
    height: 100%

    .grid_cell
        margin-right: 5%
        margin-bottom: 35px
        width: 20%
        height: 250px
        outline: 2px solid
        float: left
        div
            margin-top: 20px
            text-align: center